<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../perfil.css" />
    <link rel="stylesheet" href="../index.css">
</head>
<body>
    <!-- Cabeçalho da página -->
    <header>
        <div class="logo">
            IT Jobs
        </div>
        <div class="header-buttons">
        <button onclick="window.location.href='./criar-vaga.html'" class="search-jobs">
            <i class="fa fa-plus"></i> Criar Vaga
        </button>
        <button onclick="window.location.href='./lista-vaga-empresa.html'" class="search-jobs">
            <i class="fa fa-list"></i> Listar Vaga
        </button>
        </div>
    </header>    

    <main>    
        <!-- Área para mensagens de sucesso ou erro -->
        <div id="message" class="message" style="display: none;"></div>
    
        <div id="profileInfo">
            <div class="header-flex">
                <img id="userAvatarEmpresa" alt="Avatar">
                <h1><span id="userNomeEmpresa"></span></h1>
            </div> 
            <br>
            <p><strong>Endereço:</strong> <span id="userLocalizacaoEmpresa"></span></p>
            <p><strong>Contato:</strong> <span id="userContatoEmpresa"></span></p>
            <br>
            <p><strong>Resumo:</strong> <span id="userResumoEmpresa"></span></p>
            <!--<p><strong>Redes Sociais:</strong> <span id="userRedesSociaisEmpresa"></span></p>-->
            
            <div id="actionButtons">
                <button id="logoutButton">
                    <i class="fa fa-sign-out"></i> Desconectar
                </button>                
                <button onclick="window.location.href='perfil-empresa-editavel.html'" class="search-jobs">
                    <i class="fa fa-pencil"></i> Editar
                </button>
            </div>  
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Seu Nome. Todos os direitos reservados.</p>
    </footer>

    <script src="./perfil-empresa.js"></script>

</body>
</html>