<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualizar Perfil do Candidato</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="../perfil.css">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Axios CDN -->
  </head>
  <body>
    <header>
      <div class="logo">
        IT Jobs
      </div>
      <div class="header-buttons">
    <button onclick="window.location.href='./perfil-empresa.html'" class="search-jobs">
        <i class="fa fa-user"></i> Perfil
    </button>
    </div>
    </header>
    <main>
      <div id="profileInfo"> 
          <div class="header-flex">
              <img id="userAvatar" alt="Avatar">
              <h1><span id="userName"></span></h1>
          </div> 
          <br>
          <p><strong>Data de Nascimento:</strong> <span id="userDataNascimento"></span></p>
          <p><strong>Email:</strong> <span id="userEmail"></span></p>
          <p><strong>Contato:</strong> <span id="userContato"></span></p>
          <p><strong>Currículo:</strong> <span id="userLinkCurriculo"></span></p>
          <p><strong>Endereço:</strong> <span id="userLocalizacao"></span></p>
          <br>
          <p><strong>Resumo:</strong> <span id="userResumo"></span></p>
          <p><strong>Especialização:</strong> <span id="userEspecializacao"></span></p>
          <div id="actionButtons">
            <a href="javascript:history.back()" id="btn-voltar">
                <i class="fa fa-arrow-left"></i> Voltar
            </a>
        </div>   
          </div>  
      </div>     
  </main>
  <footer>
    <p>&copy; 2024 Seu Nome. Todos os direitos reservados.</p>
  </footer>
    <script src="./visualizar-perfil.js"></script>
    <!-- Referência ao JS para carregar o perfil -->
  </body>
</html>
