<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Editável - Profissional</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="../perfil.css">
</head>
<body>
    <!-- Cabeçalho da página -->
    <header>
        <div class="logo">
            IT Jobs
        </div>
        <div class="header-buttons">
        <button onclick="window.location.href='./filtro-vaga.html'" class="search-jobs">
            <i class="fa fa-search"></i> Pesquisa Vaga
        </button>
        <button onclick="window.location.href='./historico-inscricoes.html'" class="search-jobs">
            <i class="fa fa-history"></i> Histórico
        </button>
        </div>
    </header>

    <!-- Corpo da página (Main) -->
    <main>
        <!-- Área para mensagens de sucesso ou erro -->
        <div id="message" class="message" style="display: none;"></div>
        
        <div id="profileInfo">
            <h1>Editar Perfil</h1>

            <div class="form-group">
                <img id="userAvatar" alt="Avatar">
                <div class="form-field">
                    <br>
                    <input type="file" id="fileInput" accept="image/*">
                </div>
            </div>

            <div class="form-group">
                <div class="form-field">
                <p><strong>Nome:</strong><input type="text" id="userName" class="editable"></p>
                </div>
                <div class="form-field">
                <p><strong>Data de Nascimento:</strong><input type="date" id="userDataNascimento" class="editable"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="form-field">
                    <p><strong>Email:</strong><input type="text" id="userEmail" class="editable"></p>                
                </div>
                <div class="form-field">
                    <p><strong>Contato:</strong><input type="text" id="userContato" class="editable"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="form-field">
                    <p><strong>Currículo:</strong><input type="text" id="userLinkCurriculo" class="editable"></p>
                </div>
                <div class="form-field">            
                    <p><strong>Endereço:</strong><input type="text" id="userLocalizacao" class="editable"></p>
                </div>
            </div>

            <p><strong>Resumo:</strong><textarea id="userResumo" class="editable"></textarea></p>
            <p><strong>Especialização:</strong><textarea id="userEspecializacao" class="editable"></textarea></p>
           <!-- <p><strong>Redes Sociais:</strong><textarea id="userRedesSociais" class="editable" placeholder="Adicione os links das redes sociais aqui (exemplo: facebook.com, linkedin.com)"></textarea></p>-->

            <div id="actionButtons">
                <button id="saveButton">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button id="cancelButton" onclick="window.location.href='perfil-profissional.html'">
                    <i class="fa fa-times"></i> Cancelar
                </button>
            </div>
        </div>
    </main>

    <!-- Rodapé da página -->
    <footer>
        <p>&copy; 2024 Seu Nome. Todos os direitos reservados.</p>
    </footer>

    <script src="./perfil-profissional-editavel.js"></script>
</body>
</html>

