@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.link_header_custom {
  @apply hover:border-b-2 hover:border-primary hover:font-bold hover:text-primary;
}

.btn-animated {
  @apply relative overflow-hidden rounded-xl bg-primary px-7 py-2 text-text_primary transition-all duration-300;
}

.btn-animated::before {
  content: "";
  @apply absolute inset-y-0 right-0 w-0 bg-secondary transition-all duration-500;
}

.btn-animated:hover::before {
  @apply left-0 w-full;
}

.btn-animated span {
  @apply relative z-10;
}

.btn-animated i {
  @apply relative z-10;
}

.section-container {
  @apply mx-auto flex w-max-container items-center gap-10 py-20;
}

.faq-question {
  @apply w-full bg-primary px-6 py-4 text-left text-text_primary hover:bg-[#0A2472] focus:bg-[#0A2472] focus:outline-none;
}

.faq-answer {
  @apply bg-[#0E6BA8] px-6 py-4 text-text_primary;
}

.input {
  @apply w-full rounded-lg border border-gray-300 px-4 py-2 outline-none transition-all focus:border-[#0A2472] focus:ring-2 focus:ring-[#0A2472];
}

.input-edit {
  @apply rounded-lg border border-gray-300 px-4 py-2 outline-none transition-all focus:border-[#0A2472] focus:ring-2 focus:ring-[#0A2472];
}

.div-edit {
  @apply flex flex-col;
}

.div-edit strong {
  @apply ml-2;
}

.bg {
  background-color: #ff0000;

  &:hover {
    background-color: #b30404;
  }
}

.bgd {
  background-color: #38b000;

  &:hover {
    background-color: #267700;
  }
}

.btn-candidatar {
  @apply flex w-full items-center justify-center gap-3 rounded-lg bg-[#A6E1FA] px-2 py-2 text-[#0A2472] transition-all duration-300 hover:bg-[#0E6BA8] hover:text-text_primary;
}

.btn-detalhes {
  @apply flex w-full items-center justify-center gap-3 rounded-lg bg-[#0E6BA8] px-2 py-2 text-white transition-all duration-300 hover:bg-[#001C55];
}

.td_tbody_table {
  @apply border-2 border-primary text-center text-xl text-primary;
}

.th_thead_table {
  @apply border-primary px-6 py-3 transition-all duration-300 hover:bg-primary;
}
