<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h2>Redefinir Senha</h2>
        <form id="reset-password-form">
            <label for="password">Nova Senha:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirm-password">Confirmar Senha:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>

            <button type="submit">Redefinir Senha</button>
        </form>
        <p id="error-message" style="color: red;"></p>
        <p><a href="/public/views/login/login.html">Voltar para o login</a></p>
    </div>

    <script src="/public/js/reset.js"></script>
</body>
</html>
