main {
  background-color: #c9d9e9;
}
/* Contêiner do formulário */
.container {
  max-width: 500px; /* Aumentado para acomodar campos extras */
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px 50px; /* Ajuste no espaçamento interno */
  margin: 80px auto; /* Espaçamento superior e centralização */
  text-align: center;
}


/* Estilo do formulário */
#registerForm {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaçamento entre os campos */
}

#registerForm input,
#registerForm select {
  padding: 15px;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#registerForm input:focus,
#registerForm select:focus {
  outline: none;
  border-color: #231942;
  box-shadow: 0 0 5px rgba(35, 25, 66, 0.3);
}

/* Estilo do seletor */
#registerForm select {
  background-color: #fff;
  cursor: pointer;
}

/* Botão de registro */
#registerForm button {
  padding: 15px 20px; /* Botão maior */
  font-size: 1.2rem; /* Tamanho da fonte maior */
  font-weight: bold;
  color: #fff;
  background-color: #231942;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#registerForm button:hover {
  background-color: #38276b;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    padding: 20px 30px;
    max-width: 90%;
  }

  #registerForm button {
    font-size: 1rem;
    padding: 12px 18px;
  }
}
